URxvt*loginShell:  true
URxvt*scrollBar: false
! scrollbar style - rxvt (default), plain (most compact), next, or xterm
URxvt*scrollstyle: rxvt

URxvt*transparent: true
! URxvt*shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*shading: 20

URxvt*font: xft:monaco:size=10
URxvt*fading:  20

URxvt*foreground: #C0C0C0
URrxvt*background: #666666
URxvt*colorUL:  yellow

*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC
