[Unit]
Description=MailCatcher Service
After=network.service

[Service]
Type=simple
ExecStart=/home/ar/.rvm/gems/ruby-2.5.1/wrappers/mailcatcher --foreground
Restart=always

[Install]
WantedBy=multi-user.target
